PORT=8001
DATABASE_URL=postgresql+psycopg2://postgres:2004@localhost:5432/Agentra_db
APP_NAME=Auth Service
DEBUG=True

REDIS_URL="redis://localhost:6379"

JWT_SECRET_KEY="DN48wjkTjoL2dEmoBCrY9qE5nYP8ZAt9c0Fd6nPyiE4="
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15 
REFRESH_TOKEN_EXPIRE_DAYS=7 

FIREBASE_PROJECT_ID=multiagentai-e8c08
COOKIE_SECURE=False
COOKIE_SAMESITE=lax
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
