GROQ_API_KEY = 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
MISTRAL_API_KEY=BEtReIod3coXdytd48J9I6yJ3gCEaa7n 
GOOGLE_API_KEY = AQ.Ab8RN6IAZ7S_fkjuz49z0D685cSRJQXFFAsRyiX9_FRjSeF66A
CHAT_SERVICE=http://localhost:8002
REDIS_URL = "redis://localhost:6379"
AUTH_SERVICE=http://localhost:8001
TAVILY_API_KEY = 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
OPENROUTER_API_KEY = ''
QDRANT_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6Yjc2ODEwNGQtYjQ4NS00MDkxLTgzMjctNjI3YWMzNDBkNmExIn0.vJvxbbBM8eMkqdLGKvOamddzEYg48RlohL9zt1T5NcA'
QDRANT_URL = 'https://f480624c-bee5-455c-85e3-e801f50a509a.eu-central-1-0.aws.cloud.qdrant.io'
LLM_MODEL = ''