GROQ_API_KEY = ''
MISTRAL_API_KEY=''
GOOGLE_API_KEY = ''
CHAT_SERVICE=http://localhost:8002
REDIS_URL = "redis://localhost:6379"
AUTH_SERVICE=http://localhost:8001
TAVILY_API_KEY = ''
OPENROUTER_API_KEY = ''
QDRANT_API_KEY = ''
QDRANT_URL = ''
LLM_MODEL = ''