fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx
redis
boto3
python-pptx
reportlab
pypdf
qdrant-client
tavily-python
langchain
langchain-community
langchain-core
langchain-groq
langchain-mistralai
langchain-text-splitters
langgraph
langchain-google-genai
langchain-qdrant
python-multipart
